#!{{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}env bash

# 1. Matikan semua instansi polybar yang sedang berjalan
killall -q polybar

# 2. Tunggu sampai proses benar-benar berhenti
while pgrep -u $UID -x polybar >{{ .chezmoi.pathSeparator }}dev{{ .chezmoi.pathSeparator }}null; do sleep 1; done

# 3. Luncurkan Polybar menggunakan nama bar "main" dari config.ini
polybar main 2>&1 | tee -a {{ .chezmoi.config.tempDir }}{{ .chezmoi.pathSeparator }}polybar.log & disown

echo "Polybar berhasil diluncurkan..."
